html{
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Spartan', sans-serif;
    color: hsl(300, 24%, 96%);
}
main{
    width: 100vw;
    height: 100vh;
    background-color: hsl(0, 0%, 100%);
    display: grid;
    align-items: center;
}
.content{
    width: 80%;
    height: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
/*intro*/
.hed{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 9rem;
    margin-bottom: 5rem;
}
.intro h1{
    color: hsl(300, 43%, 22%);
    font-size: 4.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
}
.intro p{
    color: hsl(0, 0%, 61%);
    font-weight: 500;
 }
/*calificaiones*/
.cali{
    display: grid;
    align-items: center;
    height: 100%;
}
.cals{
    display: flex;
    border-radius: 1rem;
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}
.star{
    padding-right: 1rem;
}
.cali1,
.cali2,
.cali3{
    max-width: 80%;
    height: 5rem;
    justify-content: center;
    align-items: center;
}
.cali2{
    margin-left: 10%;
}
.cali3{
    margin-left: 20%;
}
/*cartas*/
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 3rem;
    align-items: center;
}
.card{
    background-color: hsl(300, 43%, 22%);
    padding: 2rem;
    font-weight: 500;
    border-radius: 1rem;
    min-height: 75%;
}
.uno{
    margin-bottom: 15%;
}
.tres{
    margin-top: 15%;
}
.perfil{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 2rem;
}
.perfil img{
    width: 4rem;
    height: 4rem;
    border-radius: 9999rem;
}
.perfil ul{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    list-style: none;
}
.perfil ul li{
    font-weight: 700;
}
.perfil ul li:last-child{
    font-weight: 500;
    color: hsl(333, 80%, 67%);
}

/*responsive*/
@media (max-width: 1199.98px) { 
    main{
        height: auto;
    }
    .content{
        margin-bottom: 5rem;
    }
    .hed{
        grid-column-gap: 4rem;
    }
    .cali1,
    .cali2,
    .cali3{
    max-width: 100%;
    margin: 0%;
    padding-left: 3%;
    padding-right: 3%;
}
 }
@media (max-width: 991.98px) { 
    .content{
        width: 90%;
    }
    .hed{
        grid-column-gap: 4rem;
    }
    .cals{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        justify-content: center;
    }
    .star{
        text-align: center;
    } 
 }
@media (max-width: 767.98px) { 
    .cards{
        display: grid;
        grid-template-columns: 1fr;
    }
    .card{
        margin: 0;
        margin-bottom: 3rem;
    }
 }
@media (max-width: 575.98px) { 
    .hed{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 2rem;
    }
    .intro{
        text-align: center;
    }
    .cals{
        margin-bottom: 2rem;
        height: 8rem;
    }
 }